@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method='post'>
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input name="name" class="form-control" id="floatingInput" placeholder="UserName">
      <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating">
      <input name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input type='submit' value='Sign in' class="w-100 btn btn-lg btn-primary" type="submit" />
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
</form>

