@{
    ViewData["Title"] = "Карты";
}
<div class="map-page">
    <div class="headers-of-main-page">
        <h2>Миусовский комплекс</h2>
    </div>
        <section class="section-g">
            <div class="content-g">
                <div class="slider mius middle">
                    <div class="slides">
                        <input type="radio" name="m" id="m1" checked />
                        <input type="radio" name="m" id="m2" />
                        <input type="radio" name="m" id="m3" />
                        <input type="radio" name="m" id="m4" />
                        <input type="radio" name="m" id="m5" />

                        <div class="slide s1">
                            <img src="https://sun9-35.userapi.com/impg/xO6-baGNb_dQvNqDOv_P0uXCkLupKMCrKgjpcA/8jtLgcGvbvQ.jpg?size=1035x746&quality=96&sign=1867feb3d49cea4d812762d4f654e163&type=album" alt="" />
                            </div>
                        <div class="slide">
                            <img src="https://sun9-28.userapi.com/impg/YgorMQJhzgPcKrxsJOiGoD8iBjDap-aAC2_iAw/CqsN50302kg.jpg?size=1193x795&quality=96&sign=be52d064e0a042f5dc17887fd0c5e8e1&type=album" alt="" />
                            </div>
                        <div class="slide">
                            <img src="https://sun9-56.userapi.com/impg/bNs28WTRqt1Y6j57-yNUc4l-jQpg5wCNGBcfmg/p9Jo9_JnUk0.jpg?size=1208x825&quality=96&sign=1062d76e4cd00a9637ef397f84c7de1b&type=album" alt="" />
                            </div>
                        <div class="slide">
                            <img src="https://sun9-83.userapi.com/impg/KpTY6pgVQ_4FOUxzGjHmQLNdpI5CpiedEdRvFw/QpRwsOnmm6c.jpg?size=1134x759&quality=96&sign=2e1d0b98cec6638512ba439972ced7a7&type=album" alt="" />
                            </div>
                        <div class="slide">
                            <img src="https://sun1-55.userapi.com/impg/oe01JiVfBo0LWRXtHnlhKAzGipc017kiWz4EfA/ov2nLAWNtuQ.jpg?size=1101x792&quality=96&sign=e20439215b393e37971f2c38341f2dd3&type=album" alt="" />
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="navigation mius">
            <label for="m1" class="bar">
                <img class="img-mius" src="https://sun9-35.userapi.com/impg/xO6-baGNb_dQvNqDOv_P0uXCkLupKMCrKgjpcA/8jtLgcGvbvQ.jpg?size=1035x746&quality=96&sign=1867feb3d49cea4d812762d4f654e163&type=album" alt="" />
            </label>
            <label for="m2" class="bar">
                <img class="img-mius" src="https://sun9-28.userapi.com/impg/YgorMQJhzgPcKrxsJOiGoD8iBjDap-aAC2_iAw/CqsN50302kg.jpg?size=1193x795&quality=96&sign=be52d064e0a042f5dc17887fd0c5e8e1&type=album" alt="" />
            </label>
            <label for="m3" class="bar">
                <img class="img-mius" src="https://sun9-56.userapi.com/impg/bNs28WTRqt1Y6j57-yNUc4l-jQpg5wCNGBcfmg/p9Jo9_JnUk0.jpg?size=1208x825&quality=96&sign=1062d76e4cd00a9637ef397f84c7de1b&type=album" alt="" />
            </label>
            <label for="m4" class="bar">
                <img class="img-mius" src="https://sun9-83.userapi.com/impg/KpTY6pgVQ_4FOUxzGjHmQLNdpI5CpiedEdRvFw/QpRwsOnmm6c.jpg?size=1134x759&quality=96&sign=2e1d0b98cec6638512ba439972ced7a7&type=album" alt="" />
            </label>
            <label for="m5" class="bar">
                <img class="img-mius" src="https://sun1-55.userapi.com/impg/oe01JiVfBo0LWRXtHnlhKAzGipc017kiWz4EfA/ov2nLAWNtuQ.jpg?size=1101x792&quality=96&sign=e20439215b393e37971f2c38341f2dd3&type=album" alt="" />
            </label>
        </div>


    <div class="headers-of-main-page tus">
        <h2>Тушинский комплекс</h2>
    </div>
    <section class="section-g">
        <div class="content-g">
            <div class="slider tus middle-second">
                <div class="slides">
                    <input type="radio" name="t" id="t1" checked />
                    <input type="radio" name="t" id="t2" />
                    <input type="radio" name="t" id="t3" />
                    <input type="radio" name="t" id="t4" />
                    <input type="radio" name="t" id="t5" />
                    <input type="radio" name="t" id="t6" />

                    <div class="slide tus1">
                        <img src="https://sun9-40.userapi.com/impg/Juq0KouvbeB1lSWfQbrIQwxmrNY5rz6o6xdCdA/Ebk-7_VMGm0.jpg?size=1591x1545&quality=96&sign=671b61107f949d5018a5636a93eb8ade&type=album" alt="" />
                     </div>
                    <div class="slide">
                        <img src="https://sun9-68.userapi.com/impg/QcgMDoNQRF6jB6oQU8swuX4ldSym1R9yKy-Isw/eqrPs0m8zmc.jpg?size=1496x1583&quality=96&sign=81d3954e7147502b4877ce044d0925b7&type=album" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://sun9-87.userapi.com/impg/3TXpPSSsntsnsvZfe3AUvAhhGcTmnjXiz2SsnA/fN6y6mbmtP4.jpg?size=1370x1174&quality=96&sign=f6841d3a5c7ed04cf1931684003e87db&type=album" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://sun1-93.userapi.com/impg/BZUO02z6b3kkUsMSCJWd6iV2TlaSlQySNwPnHg/oRKLbVky380.jpg?size=834x529&quality=96&sign=b5ad1563cdf993fbe1eb284bda438081&type=album" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://sun9-86.userapi.com/impg/JMLXiuXGyvogXWmQNaB_7Lx4CPaw4Lxp2KCdUw/gZHE2HFfZs0.jpg?size=799x457&quality=96&sign=30dce0af06d5ce9fdf8e206e5b8a65fa&type=album" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://sun9-68.userapi.com/impg/aFp0hcrL1mb8hzv3ZcFEMgYcfLBteFoY_USlhg/dI6adWqqmIw.jpg?size=784x440&quality=96&sign=5f89ad7c6d613d85d636cfd406a0fb82&type=album" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation tus">
        <label for="t1" class="bar">
            <img class="img-tus" src="https://sun9-40.userapi.com/impg/Juq0KouvbeB1lSWfQbrIQwxmrNY5rz6o6xdCdA/Ebk-7_VMGm0.jpg?size=1591x1545&quality=96&sign=671b61107f949d5018a5636a93eb8ade&type=album" alt="" />
        </label>
        <label for="t2" class="bar">
            <img class="img-tus" src="https://sun9-68.userapi.com/impg/QcgMDoNQRF6jB6oQU8swuX4ldSym1R9yKy-Isw/eqrPs0m8zmc.jpg?size=1496x1583&quality=96&sign=81d3954e7147502b4877ce044d0925b7&type=album" alt="" />
        </label>
        <label for="t3" class="bar">
            <img class="img-tus" src="https://sun9-87.userapi.com/impg/3TXpPSSsntsnsvZfe3AUvAhhGcTmnjXiz2SsnA/fN6y6mbmtP4.jpg?size=1370x1174&quality=96&sign=f6841d3a5c7ed04cf1931684003e87db&type=album" alt="" />
        </label>
        <label for="t4" class="bar">
            <img class="img-tus" src="https://sun1-93.userapi.com/impg/BZUO02z6b3kkUsMSCJWd6iV2TlaSlQySNwPnHg/oRKLbVky380.jpg?size=834x529&quality=96&sign=b5ad1563cdf993fbe1eb284bda438081&type=album" alt="" />
        </label>
        <label for="t5" class="bar">
            <img class="img-tus" src="https://sun9-86.userapi.com/impg/JMLXiuXGyvogXWmQNaB_7Lx4CPaw4Lxp2KCdUw/gZHE2HFfZs0.jpg?size=799x457&quality=96&sign=30dce0af06d5ce9fdf8e206e5b8a65fa&type=album" alt="" />
        </label>
        <label for="t6" class="bar">
            <img class="img-tus" src="https://sun9-68.userapi.com/impg/aFp0hcrL1mb8hzv3ZcFEMgYcfLBteFoY_USlhg/dI6adWqqmIw.jpg?size=784x440&quality=96&sign=5f89ad7c6d613d85d636cfd406a0fb82&type=album" alt="" />
        </label>
    </div>
</div>